.secaoMarcacao {
    display: flex;
    margin: 30px 400px;
    padding: 30px;
    border-radius: 10px;
    font-family: "Roboto Slab";
    background-color: rgba(119, 136, 92, 0.2);
}

.secaoMarcacao > form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: stretch;
    max-width: 500px;
    gap: 10px;
}

.secaoMarcacao > form > input {
    height: 24px;
}

.secaoMarcacao > form > select {
    height: 30px;
}

.secaoMarcacao > form > textarea {
    min-height: 100px;
}

.btnForm {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
