.childrenContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.childrenContainer > h2 {
    font-family: "Cormorant Garamond";
}

.childrenContainer > p {
    font-family: "Roboto Slab";
    border-radius: 10px;
}