.children-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  grid-column: 2 / 3;
}

.children-container > h2 {
    font-family: "Cormorant Garamond";
}

.children-container > p {
    font-family: "Roboto Slab";
    border-radius: 10px;
}