.titleSpecs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titleSpecs > p {
  font-family: "Roboto Slab";
  font-size: 14px;
  margin: 0;
}

/* Media Query */

@media (max-width: 430px) {
  .titleSpecs {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .titleSpecs > p {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }
}