@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@100..900&display=swap");

#root {
  max-width: 100%;
  margin: 0;
  color: #29331b;
}

body {
  margin: 0;
  background-color: rgba(246, 246, 239, 0.3);
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
}

.recepcao-clinica {
  border-radius: 50%;
}

.container-endereco {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
}

.container-endereco > p {
  font-size: 12px;
}

.container-endereco > a > p {
  font-size: 12px;
}

a {
  color: #29331b;
  text-decoration: none;
}