@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@100..900&display=swap');

#root {
  max-width: 100%;
  margin: 0;
  color: #29331b;
}

body {
  margin: 0;
  background-color: rgba(246, 246, 239, 0.3);
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-inline-start: 0;
}

/* Media Query */

@media (max-width: 430px) {
  #root {
    width: 100vw;
    overflow-x: hidden;
    display: block;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    background-color: rgba(246, 246, 239, 0.5); 
  }

  :root {
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
  }

  ul {
    margin-left: 0;
    list-style-position: inside;
  }
}